* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;

}

.homepage_container {
    width: 100vw;
    height: 100vh;
}

.login-form-container {
    background-color: #4048FF;
    width: 100%;
}

.login-form input {
    outline: none;
}

.sign-in-btn {
    background-color: #5ccfc6;
}