.edit-button:hover {
    cursor: pointer;
    background-color: #689bff;
    transform: scale(1.01);
    transition: all 0.1s ease;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #ff6b6b;
    transform: scale(1.01);
    transition: all 0.1s ease;
}