.card-content:hover {
    cursor: pointer;
    background-color: #67c5f1;
    border-radius: 10px;
    transition: 0.3s linear;
}

.text-greetings {
    color: #4048FF;
}

.text-greetings span {
    color: #11252e;
}

.card-container {
    width: 75%;
    box-shadow: 5px 5px 0px 2px;
}

.card-container:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.01);
    transition: 0.15s ease-in;
}

.card-container:nth-child(1) {
    background-color: rgb(170, 90, 246);
}

.card-container:nth-child(2) {
    background-color: #4048FF;
}

.card-container:nth-child(3) {
    background-color: #1bc4b6
}

.card-container:nth-child(4) {
    background-color: rgb(2, 207, 2);
}

.card-container:nth-child(5) {
    background-color: #FFD700;
}