.card-content:hover {
    cursor: pointer;
    background-color: #67c5f1;
    border-radius: 10px;
    transition: 0.3s linear;
}

.text-greetings {
    color: #4048FF;
}

.text-greetings span {
    color: #11252e;
}